*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
    text-shadow: 0px 0px 5px black;
}
@font-face{
    font-family: ProductSans;
    src: url(../../../assets/fonts/ProductSansRegular.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../../assets/images/IndianMountains.jpg);
    background-size: 100% 100%;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#weather_report_container{
    width: 50vw;
    height: 80vh;
    background-color: rgba(0,0,0,0.50);
    border-radius: 2.5vw;
    padding: 20px;
}
#search_input_container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#search_inputbox{
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    width: 50%;
    height: 100%;
    outline: none;
    border: none;
    background-color: black;
    border-radius: 30px;
    padding-left: 20px;
}
#search_inputbox::placeholder{
    color: white;
}
#search_icon_container{
    color: gray;
    font-size: 2.5vw;
    position: relative;
    left: -50px;
    cursor: pointer;
}
#search_icon_container:hover{
    color: white;
}
#city_informations_container{
    color: white;
    font-size: 2.75vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#location_icon_container{
    font-size: 6.5vw;
    color: red;
}
#weather_image_temperature_container{
    color: white;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#weather_hazy_image{
    width: 150px;
}
#weather_status_name{
    font-size: 2.5vw;
    position: absolute;
    left: 25%;
}
#weather_temperature_value{
    font-size: 8.5vw;
}
#degree_celcius_container{
    position: relative;
    top: -50px;
    display: none;
}
#humidity_wind_report_container{
    color: white;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.humidity_wind_report_containers{
    width: 45%;
    height: 100%;
    background-color: rgb(255,255,255,0.35);
    border-radius: 1.5vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.humidity_wind_report_containers:hover{
    background-color: rgb(255,255,255,0.25);
}
.humidity_wind_icons{
    font-size: 3vw;
}
.humidity_wind_values{
    font-size: 3.5vw;
}
#weather_image{
    width: 150px;
}